<script type="text/javascript">
	$(document).ready(function() {
		openid.init('user[openid_identifier]');
	});
</script>
<% hidden_field_tag :action, "verify" %>
<% field_set_tag 'Register' do %>
	<div id="openid_choice">
		<p>Please click your account provider:</p>
		<div id="openid_btns"></div>
	</div>
	<div id="openid_input_area">
		<%= form.text_field :openid_identifier %>
		<%= form.submit "Create" %>
	</div>	
<% end %>